<script type="text/javascript" src="{% static 'javascripts/notification.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/notification.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/panel/panel.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/panel/services/panel.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/panel/controllers/panel.controller.js' %}"></script>
